<div class="center" *ngIf="player">
  <h2>{{ pageTitile }}</h2>
  <p>Full Name: {{ player.first_name }} {{ player.last_name }}</p>
  <p>Height: {{ player.height_feet }}' {{ player.height_inches }}"</p>
  <p>Position: {{ player.position }}</p>
  <p>Weight: {{ player.weight_pounds }}</p>
  <h4>Team</h4>
  <p>Abbreviation: {{ player.team.abbreviation }}</p>
  <p>Full Name: {{ player.team.full_name }}</p>
  <p>City: {{ player.team.city }}</p>
  <p>Conference: {{ player.team.conference }}</p>
  <p>Division: {{ player.team.division }}</p>
</div>
